body {
    background: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}


.cabecalho {
    padding: 20px;
}
.cabecalho-imagem {
    height: 70px;
}



.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    
}



#campoTexto {
    
    font-style: normal;
    font-size: 32px;
    background-color: rgba(128, 111, 111, 0.437);
    border-radius: 10px;
    color: rgb(58, 44, 44);
    border-color: rgba(76, 65, 65, 0.147);
    padding-left: 10px;
}

#campoTexto:focus{
    outline: 0;
    border-color: rgba(44, 38, 38, 0.147);
    
}



#campoTexto::placeholder{
    color: rgba(58, 44, 44, 0.56);
    
}

#campoResposta::placeholder {
    color: rgba(58, 44, 44, 0.56);
    padding-left: 30px;
    padding-top: 80px;
}

#campoResposta {
    margin-left: 50px;
    font-style: normal;
    font-size: 32px;
    background-color: rgba(128, 111, 111, 0.437);
    border-radius: 10px;
    color: rgb(58, 44, 44);
    border-color: rgba(76, 65, 65, 0.147);

}

#campoResposta:focus {
    outline: 0;
    border-color: rgba(44, 38, 38, 0.147);
    
}

.aviso {
    display: flex;
    width: 830px;
    margin: 10px 0px 10px 0px;

}


.aviso-conteudo {
    display: flex;
    color: rgb(58, 44, 44);
    font-size: 18px;
    align-items: center;

}

.aviso-imagem{
    height: 30px;
    margin-right: 10px;
}

.botao {
    display: flex;
    
    margin: 10px 0px 10px 0px;
    
    
}



.botao-criptografar {
    padding: 10px 50px 10px 50px;
    width: 285px;
    border-radius: 10px;
    background-color: rgba(128, 111, 111, 0.437);
    border-color: rgba(76, 65, 65, 0.147);
    color: rgb(58, 44, 44);
    font-size: 18px;
    margin-right: 10px;
    
}

.botao-criptografar:active{
    background-color: rgba(118, 102, 102, 0.437);
    color: rgb(54, 41, 41);
    border-color: rgba(61, 52, 52, 0.147);
    
    
}

.botao-descriptografar {
    padding: 10px 50px 10px 50px;
    width: 290px;
    border-radius: 10px;
    background-color: rgba(128, 111, 111, 0.437);
    border-color: rgba(76, 65, 65, 0.147);
    color: rgb(58, 44, 44);
    font-size: 18px;
    margin-left: 10px;

}

.botao-descriptografar:active{
    background-color: rgba(118, 102, 102, 0.437);
    color: rgb(54, 41, 41);
    border-color: rgba(61, 52, 52, 0.147);
    
    
}

.botao-copiar {
    padding: 10px 50px 10px 50px;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(128, 111, 111, 0.437);
    border-color: rgba(76, 65, 65, 0.147);
    color: rgb(58, 44, 44);
    font-size: 18px;
    margin-left: 60px;

}


.botao-copiar:active{
    background-color: rgba(118, 102, 102, 0.437);
    color: rgb(54, 41, 41);
    border-color: rgba(61, 52, 52, 0.147);
    
    
}


.rodape {
    padding: 20px;
}

.redes {
    display: inline-block;
    text-align: center;
    color: rgb(58, 44, 44);
    font-size: 18px;
    margin-top: 20px;


}

.copyright {
    text-align: center;
    color: rgb(58, 44, 44);
    font-size: 18px;
    

}



@media (max-width:480px){
    .quadro-de-texto {

    }
}