body {
    margin: 20px;
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
}


.cabecalho-imagem {
    height: 70px;
}


.conteudo {
    margin: 20px;
    display: flex;
    justify-content: center;    
}

.quadroEntrada {
    margin-right: 10px;
    width: 50%;
   
}

.campo {
    font-size: 32px;
    height: 200px;
    width: 100%;
    background-color: rgba(128, 111, 111, 0.137);
    border-radius: 10px;
    color: rgb(58, 44, 44);
    border-color: rgba(76, 65, 65, 0.147);
}

.campo:focus {
    outline: 0;
    border-color: rgba(44, 38, 38, 0.147);
}


.campo::placeholder {
    color: rgba(58, 44, 44, 0.56);
}

.quadroSaida{
    width: 20%;
    margin-left: 10px;
}

.avisoEntrada {
    display: flex;
    align-items: center;
    margin: 10px;
}

.avisoEntrada img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.botao {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(128, 111, 111, 0.437);
    border-color: rgba(76, 65, 65, 0.147);
    color: rgb(58, 44, 44);
}

#botaoCopiar {
    margin-top: 38px;
}

.rodape {
    margin-top: 50px;
    text-align: center;
}


@media (max-width:720px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .botaoEntrada {
        margin-bottom: 30px;
        text-align: center;
    }

    .avisoEntrada{
        justify-content: center;
    }

    .botaoSaida {
        text-align: center;
    }

    .quadroEntrada {
        width: 80%;
        margin: 0px;
    }

    .quadroSaida {
        width: 80%;
    }

}

@media (max-width:480px) {
    .quadroEntrada {
        width: 100%;
    }

    .quadroSaida {
        width: 100%;
    }

    .botaoEntrada{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #botao-criptografar {
        margin-bottom: 10px;
        padding: 10px 40px;
    }

    .campo {
        height: 150px;
    }
}